button {
  height: 40px;
  font-size: 2rem;
  border-radius: 20px;
  color: inherit;
  transition: 0.3s;
  &:active {
    transform: translate(1px, 2px);
  }
}

input[type='text'] {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  background-color: transparent;
  &::-webkit-input-placeholder {
    font-family: inherit;
    color: inherit;
  }
  &::-moz-placeholder {
    font-family: inherit;
    color: inherit;
  }
  &:-ms-input-placeholder {
    font-family: inherit;
    color: inherit;
  }
}
